{% extends 'base.html' %}


{% block content %}
    {% if not request.user.is_authenticated %}
        <div style="margin-top:30px;">
            <header>Login Form<header>
            <form action="/login/" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div style="margin-top:10px;">
                    <button type="submit"> Login </button>
                </div>
            </form>
            <p>Dont have an account ? <a href="/register/">Register</a></p>
        </div>
    {% else %}
        <p>You are already logged in. <a href="/logout/">do you want to logout ?</a></p>
    {% endif %}
{% endblock content %}
