{% extends 'base.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div style="margin-top:30px;">
            <header>Confirm Logout<header>
            <form action="/logout/" method="POST">
                {% csrf_token %}
                <p style="color:green;"> Are you sure you want to logout ? <p>
                <div style="margin-top:10px;">
                    <button type="submit"> Yes, Logout. </button>
                </div>
            </form>
        </div>
    {% else %}
        <p>You are logged out!. <a href="/login/">do you want to login ?</a></p>
    {% endif %}
{% endblock content %}
