{% extends 'base.html' %}

{% block content %}
    {% if not request.user.is_authenticated %}
    <div style="margin-top:30px;">
        <h3>User Signup</h3>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div syle="margin-top:10px;">
                <button type="submit">Create User </button>
            </div>
        </form>
        <p>Alreay a member ? <a href="/login/">Login</a></p>
    </div>
    {% else %}
        <p> an account is already logged in. Do you want to <a href="/logout/">logout</a></p>
    {% endif %}
{% endblock content %}

